**General Elements:**

Field Name          : [name]
Parent Table        : [parent]
Label               : [label]
Shared By           : [shared_by]
Alias(es)           :
Specification Type  : [] Unique [] Generic [] Replica
Source Specification:
Description         : [description]

**Physical Elements:**

Data Type           : [type]
Length              : [len]
Decimal Places      : [decimal places]
Input Mask          : [mask]
Display Format      : [format]

Character Support:
    [] Letters (A-Z)   [] Keyboard (. , / $ # %)
    [] Numbers (0-9)   [] Special (© ® ™ Σ π)

**Logical Elements:**

Key Type:
    [] Non      [] Primary
    [] Foreign  [] Alternate

Key Structure       : [] Simple         [] Composite
Uniqueness          : [] Non-unique     [] Unique
Null Support        : [] Nulls Allowed  [] No Nulls
Values Entered By   : [] User           [] System
Required Value      : [] No             [] Yes
Default Value       :
Range of Values     :

Edit Rule:
    [] Enter Now, Edits Allowed
    [] Enter Now, Edits Not Allowed
    [] Enter Later, Edits Allowed
    [] Enter Later, Edits Not Allowed
    [] Not Determined At This Time

Comparisons Allowed:
    [] Same Field       [] All [] eq    [] gt [] geq    [] neq    [] lt [] leq
    [] Other Fields     [] All [] eq    [] gt [] geq    [] neq    [] lt [] leq
    [] Value Expression [] All [] eq    [] gt [] geq    [] neq    [] lt [] leq

Operations Allowed:
    [] Same Field       [] All [] add    [] sub [] mult    [] div    [] concat
    [] Other Fields     [] All [] add    [] sub [] mult    [] div    [] concat
    [] Value Expression [] All [] add    [] sub [] mult    [] div    [] concat

[//]: # vim:ft=markdown
